:root {
    --white: #ffffff;
    --color-primary: #222e32;
    --color-secondary: #223b56c9;
    --bg-main: #f0f4f9;
    --bg-secondary: #e0e5eb;
    --bg-last: #c5cfd9;
    --icon-grey: rgb(110, 128, 149);
    --icon-blue: rgb(31, 123, 227);
    --btn-blue: #217ade;
    --btn-red: #e36963;
    --search-gray: #e1e5ea;
}

.dark-mode {
    --white: #181a1b;
    --color-primary: #e3e3e3;
    --color-secondary: #b0b8c1;
    --bg-main: #23272a;
    --bg-secondary: #2c3136;
    --bg-last: #353b41;
    --icon-grey: #7a869a;
    --icon-blue: #4ea1f7;
    --btn-blue: #217ade;
    --btn-red: #e36963;
    --search-gray: #2c3136;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-primary);
}

main {
    background-color: var(--bg-main);
    overflow-x: hidden;
    height: 200vh;
}

i {
    color: var(--icon-grey);
}

img {
    display: inline-block;
    width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    padding-inline: 16px;
}

h1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
}

h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 64px;
}

h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 56px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
    border: 1px solid var(--bg-last);
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    /* overflow-y: hidden; */
}

button {
    color: var(--white);
    border: none;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.blue-btn {
    background-color: var(--btn-blue);
}

.blue-btn:hover {
    background-color: #195faf;
}

.red-btn {
    background-color: var(--btn-red);
}

.red-btn:hover {
    background-color: rgb(167, 76, 71);
}

/* Header */
.header {
    padding-block: 16px;
    border-bottom: 1px solid var(--bg-last);
    position: fixed;
    width: 100%;
    background-color: var(--bg-main);
    z-index: 1000;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 40px;
}

.header__settings {
    display: flex;
    gap: 32px;
}

.header__search {
    position: relative;
    width: 40%;
}

.header__search i {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.header__search input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: var(--search-gray);
    padding-right: 16px;
    padding-left: 40px;
}

.header__settings li i {
    cursor: pointer;
}

.header__settings li i:hover {
    scale: 1.1;
}

/* Body after header*/
.body {
    padding-top: 82.7px;
    display: flex;
    position: relative;
}

/* vertical navbar */
.vertical-nav {
    background-color: var(--bg-main);
    position: fixed;
    border-right: 1px solid var(--bg-last);
    padding: 28px 0 16px 0;
    top: 82.7px;
    bottom: 0;
}

.vertical-nav__icons {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.vertical-nav__icons a {
    pointer-events: none;
    opacity: 0.6;
}

.vertical-nav__icons li i:hover {
    scale: 1.1;
}

/* posts */
.posts {
    padding-left: 72px;
    padding-top: 16px;
    min-width: 598px;
    width: 65%;
}

.posts__header,
.posts__main-form,
.posts__posts-container li {
    border: 1px solid var(--bg-last);
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 8px;
}

.posts__header h1,
.posts__main-form h2,
.posts__posts-container h3 {
    transition: 0.5s;
}

.posts__header:hover h1,
.posts__main-form:hover h2,
.posts__posts-container:hover h3 {
    color: var(--btn-blue);
}

.posts__main-form h2 {
    margin-bottom: 8px;
}

.posts__main-form form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.posts__input {
    display: flex;
    width: 100%;
    margin-bottom: 14px;
}

.posts__input textarea {
    border-radius: 20px;
    padding: 10px 10px 10px 80px;
}

.posts__post__edit {
    display: none;
}

.posts__post__edit textarea {
    border-radius: 20px;
    padding: 14px 10px;
}

.posts__img {
    width: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.posts__main-form form button {
    justify-content: left;
    max-width: 120px;
    align-self: last baseline;
}

.posts__post-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}

.posts__post-img {
    width: 60px;
    top: 10px;
    left: 10px;
}

.posts__post p {
    margin-bottom: 8px;
    padding-inline: 16px;
}

.posts__post-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

/* chat port */
.chatport {
    padding-block: 16px;
    position: fixed;
    right: 16px;
    width: 33.5%;
    top: 82.7px;
    bottom: 0;
    min-width: 350px;
}

.chatport .container {
    height: 100%;
    background-color: var(--white);
    border: 1px solid var(--bg-last);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chatport .container button {
    height: 50px;
    width: 50px;
    border: 1px solid var(--bg-last);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatport .container button:hover {
    background-color: #c9cbce;
}

.chatport__header {
    border-bottom: 1px solid var(--bg-last);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatport .container:hover h2 {
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textAnimate 2s ease-in-out infinite alternate;
}

@keyframes textAnimate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.chatport__gemini-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chatport__gemini-logo__img {
    width: 40px;
}

.chatport__main {
    padding-block: 16px;
    height: 90%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-last) var(--bg-secondary);
}

.chatport__main::-webkit-scrollbar {
    width: 8px;
    background: var(--bg-secondary);
    border-radius: 8px;
}

.chatport__main::-webkit-scrollbar-thumb {
    background: var(--bg-last);
    border-radius: 8px;
}

.chatport__main::-webkit-scrollbar-thumb:hover {
    background: var(--icon-grey);
}

.chatport__message {
    border-top: 1px solid var(--bg-last);
    padding-top: 8px;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
}

.chatport__message textarea {
    min-height: 50px;
    border: 1px solid var(--bg-last);
    border-radius: 10px;
    padding: 8px;
}